<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.storyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <permission
        android:name="com.example.storyapp.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.storyapp.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".utils.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryAPP"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD-l-Zf333TGMgHFK2FmKXtSpupA5AJMFw"/>
        <activity
            android:name=".map.MapStorys"
            android:exported="false"
            android:label="@string/title_maps_story"/>
        <activity
            android:name=".map.MapsActivity"
            android:exported="false"/>
        <activity
            android:name=".camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".addstory.AddStoryActivity"
            android:exported="false" />
        <activity
            android:name=".mainstory.StoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".splash_screen.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainstory.MainActivity"
            android:exported="false" />
    </application>

</manifest>